{% extends "base.html.twig" %}

{% block title %}Jeara - Bugs{% endblock %}

{% block mainContainer %}
    <div>
        <h1>Bugs</h1>
    </div>
    <div>
        <button type="button" onclick="location.href='/bug/new/'" class="btn btn-primary">New Bug</button>
    </div>
    <div>
        <h1>Bugs by STATUS</h1>
    </div>
    <div>
        <h2>Browse Bugs by:</h2>||
        <a href="/bugs">creation date(default)</a> ||
        <a href="/creator">creator</a> ||
        <a href="/tags">tags</a> ||
        <a href="/assignee">assignee</a> ||
        <a href="/status"><b>STATUS</b></a> ||
    </div>
        <h1>SELECT A STATUS</h1>
    <div>
        ||<a href="/status/open">OPEN</a>||<br>||<a href="/status/closed">CLOSED</a>||<br>||<a href="/status/rejected">REJECTED</a>||
    </div>
{% endblock %}
